// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

// This file is intentionally left blank and should be overwritten by in the build process.


#tag\:\:squad_data {
  background-color: #feffba;
}

#tag\:\:squad_lp {
  background-color: #cfe8ff;
}

#tag\:\:squad_pit {
  background-color: #ffc2c2;
}

#tag\:\:squad_lm {
  background-color: #d6ffe4;
}

#tag\:\:squad_asa {
  background-color: #ffe49c;
}

#tag\:\:squad_fisc {
  background-color: #fadbff;
}

#tag\:\:squad_found {
  background-color: #e0d8cc;
}

